@font-face {
  font-family: "ContoBold";
  src: url("./fonts/Conto\ Bold.ttf") format("truetype");
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 90px;
    height: 130px;
    margin-top: 2em;
  }
  h1 {
    margin-top: 0.05em;
    font-size: 3em;
    color: white;
    font-family: "ContoBold", sans-serif;
    font-weight: bold;
    text-shadow: 1px 2px 60px rgba(66, 68, 90, 1);
    color: #9a8fbf;
  }
}
